.about_card {
  min-height: 366px;
}
.header_bg {
  background-image: url(../src/assets/images/webp/about-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.about_para {
  max-width: 800px;
}
.opacity_70 {
  opacity: 0.7;
}
.about_big_sliders {
  min-height: 387px;
}
.slick-slide {
    padding-right:13px;
    padding-left:13px;
}
.about_left_arrow{
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
    z-index: 2;
}
.about_right_arrow{
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}
.aboutus_bottom_slider{max-width: 1008px;}
