/* full form css */
.container {
  max-width: 1140px !important;
}
.text40 {
  font-size: 40px;
}
.max-w-435 {
  max-width: 435px;
}
.lh_120 {
  line-height: 120%;
}
.fs_16 {
  font-size: 16px;
}
.max-w-559 {
  max-width: 559px;
}
.loveInput {
  border-radius: 12px;
  background: rgba(138, 138, 138, 0.17);
  border: 1px solid transparent;
  height: 52px;
  padding-left: 26px;
  padding-bottom: 2px;
}
.loveInput::placeholder {
  color: #474747;
}
.loveInput:active {
  background: white !important;
  border: 1px solid #000;
}
