
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none !important;
 list-style-type: none !important;
 box-sizing: border-box !important;
}

:root{
    --font-sm:16px;
    --font-xl:70px;
    /*============colors========= */
    --clr-primary:#555858;
    --clr-secndary: #8B96F9;
    --clr-thirdary:#fff;
}

.ff_poppins{
  font-family: 'Poppins', sans-serif !important;
}
/*=========== Font-size============= */

.font-sm{
    font-size: var(--font-sm);
}
.font-xl{
    font-size: var(--font-xl);
}
/* ===========line-height============ */
.lh_medium{
    line-height: 24px;
}
.lh_larg{
line-height:70px;
}
/*================color========= */
.text_primary{
    color: var(--clr-primary) !important;
}
/* ==============width============= */
.max_width_par{
    max-width: 380px;
}
.common_btu{
  font-family: 'Poppins', sans-serif !important;
    width: 208px;
    height: 60px;
    color: var(--clr-thirdary);
    border-radius: 57px;
background: var(--clr-secndary);
   border: 1px solid #8B96F9 !important;
}
.text_linear_gradient{
    background: var(--linear, linear-gradient(180deg, #ABB6FB 0%, #747EF9 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.common_btu:hover {
        color: var(--clr-secndary);
        background: var(--clr-thirdary);
        border: 1px solid #8B96F9 !important;
}
.common_btu:hover .Get_Started_icon path{
fill: var(--clr-secndary);
}