/* center header start from here  */
.nav_property {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 11px 18px 11px 31px;
}
.nav_btn {
  padding: 15px 30px;
}
.hover_line::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background-color: #000;
  bottom: -1px;
  left: 50%;
  transition: 0.4s ease-in-out;
}
.hover_line:hover::after {
  width: 100%;
  left: 0;
}
.z-10 {
  z-index: 10;
}
.hover_line::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  border-radius: 10px;
  background-color: #000;
  bottom: -3px;
  left: 50%;
  transition: 0.3s ease-in-out;
}
.hover_line:hover::after {
  width: 100%;
  left: 0;
}
@media (max-width: 767.98px) {
  .nav_show {
    position: fixed;
    height: 0vh;
    background-color: #7cbbc1;
    transition: all 0.6s linear;
    left: -100%;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    top: 0;
  }
  .nav_show.showw {
    left: 0%;
  }
  .nav_property {
    padding: 7px 20px 6px 16px;
  }
  .overflow_hidden {
    overflow: hidden !important;
  }
}
/* full header start here */
.hoverLine:hover::after {
  width: 100%;
  left: 0;
}
.hoverLine::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: white;
  bottom: -8px;
  left: 50%;
  border-radius: 15px;
  transition: 0.4s ease-in-out;
}
.z_10 {
  z-index: 10;
}
@media (max-width: 992px) {
  .NavShow {
    position: fixed;
    opacity: 0;
    background-color: transparent;
    transition: all 0.6s linear;
    left: 0%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: -4;
    clip-path: circle(0px at calc(100% - 45px) 45px);
    top: 0;
  }
  .NavShow.showw {
    opacity: 1;
    min-height: 100vh;
    z-index: 9999;
    clip-path: circle(75%);
    background-color: rgb(13, 202, 240) !important;
  }
  .vh_100_992 {
    min-height: 100vh;
  }
}
/* header right align start here */
.hoverLineAlign:hover::after {
  width: 100%;
  left: 0;
}
.hoverLineAlign::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: black;
  bottom: -4px;
  left: 50%;
  border-radius: 15px;
  transition: 0.4s ease-in-out;
}
@media (max-width: 991px) {
  .btn {
    display: block;
  }
  .nav-fix {
    position: fixed;
    width: 100%;
    left: 0;
    top: -100%;
    transition: linear 500ms;
    min-height: 100%;
    background-color: rgb(13, 202, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999 !important;
  }
  .nav-fix div {
    flex-direction: column;
    gap: 20px;
  }
  .show-nav {
    position: fixed;
    width: 100%;
    background-color: rgb(13, 202, 240);
    top: 0;
    left: 0;
    z-index: 999 !important;
    transition: linear 500ms;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .show-nav div {
    flex-direction: column;
    gap: 20px !important;
  }
  .crossIconset {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.zFull {
  z-index: 99999;
}
/* btn hover class here  */
.dedcription-btn {
  width: 100%;
  position: relative;
  display: inline-block;
  border-radius: 30px;
  background-color: #fcfcfc;
  color: #ffa000;
  text-align: center;
  font-size: 18px;
  padding: 9px 30px;
  transition: all 0.3s;
  /* margin: 20px 5px; */
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
}
.dedcription-btn .btn-icon {
  background-color: #ffa000;
  width: 25px;
  height: 45px;
  float: right;
  position: absolute;
  border-radius: 30px 30px 30px 0;
  right: -30px;
  top: 0px;
  transition: all 0.3s;
}
.dedcription-btn:hover .btn-icon {
  right: 0px;
}
.name-descripeion {
  z-index: 9999;
}
.btn-icon::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 45px solid #fcfcfc;
  border-right: 40px solid transparent;
  position: absolute;
  top: 0px;
  left: 0px;
}
.dedcription-btn:hover .btn-icon {
  width: 100%;
  border-radius: 30px;
}
.dedcription-btn:hover .btn-icon::after {
  display: none;
  opacity: 0.1;
}
.dedcription-btn:hover {
  color: #fff !important;
}
