@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
/*===================HEROHALF============= */
:root {
  /*============COLORS========= */
  --clr-primary: #555858;
  --clr-secondary: #4d4d4d;
}
.ff_poppins {
  font-family: "Poppins", sans-serif !important;
}
.text_primary {
  color: var(--clr-primary) !important;
}
.text_secondary {
  color: var(--clr-secondary);
}
/* ==============WIDTH============= */
.max_width_par {
  max-width: 380px;
}
.text_linear_gradient {
  background: var(--linear, linear-gradient(180deg, #abb6fb 0%, #747ef9 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.max_w_hero_par {
  max-width: 790px;
}
.max_w_Hero_Position {
  max-width: 546px;
}
.max_w_position_hero_img {
  max-width: 190px;
}
/* ===================COMMON BTN============== */
.common_btn {
  font-family: "Poppins", sans-serif !important;
  width: 208px;
  height: 60px;
  color: var(--clr-thirdary);
  border-radius: 57px;
  background: var(--clr-secndary);
  border: 1px solid #8b96f9 !important;
  transition: all 300ms ease-in-out;
}
.common_btn:hover {
  color: var(--clr-secndary);
  background: var(--clr-thirdary);
  border: 1px solid #8b96f9 !important;
  transition: all 300ms ease-in-out;
}
.common_btn:hover .get_started_icon path {
  fill: var(--clr-secndary);
  transition: all 300ms ease-in-out;
  transform: translateX(0px) !important;
}
.common_btn .get_started_icon {
  transform: translateX(0px) !important;
  transition: all 300ms ease-in-out;
}
.common_btn:hover .get_started_icon {
  transform: translateX(10px) !important;
  transition: all 300ms ease-in-out;
}
.get_started_icon path {
  transition: all 300ms ease-in-out;
}
.button_btn:hover {
  color: #3c278d;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #3c278d !important;
  transition: all 300ms ease-in-out;
}
.hero_Img_position {
  width: 100%;
}
.max_w_roadmap_sm{
  max-width: 375px !important;
}
.roadmap_line::after {
    content: "";
    position: absolute;
    max-width: 2px !important;
    width: 100%;
    height: 80.3% !important;
    background: #c5c2c2;
    top: 0;
    left: 29px;
    z-index: -1;
}
@media (max-width: 575.98px) {
  .max_w_position_hero_img {
    max-width: 100px !important;
  }
  .button_btn {
    padding: 14px 40px;
    color: #fff;
    line-height: 19px;
    border-radius: 12px;
    background: #3c278d;
    border: 1px solid #3c278d !important;
    transition: all 300ms ease-in-out;
  }
  .min_h_vedio {
    min-height: 200px !important;
  }
  .rodMap_img_w_h {
    max-width: 63px;
    height: 32px;
  }
  .center_line_two::after {
    content: "";
    position: absolute;
    max-width: 2px !important;
    width: 100%;
    height: 85% !important;
    top: 45px;
    left: 17px;
    z-index: -1;
    flex-shrink: 0;
    background: #c5c2c2;
  }
  .accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 13px 10px !important;
  color: #3c278d !important;
  font-weight: 400px !important;
  font-size: var(--fs-md) !important;
  background-color: transparent !important;
  border: 0;
  border-radius: 0px;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}
}
@media (min-width: 576px) {
  .button_btn {
    padding: 13.5px 55.1px;
    color: #fff;
    line-height: 19px;
    border-radius: 12px;
    background: #3c278d;
    border: 1px solid #3c278d !important;
    transition: all 300ms ease-in-out;
  }
  .min_h_vedio {
    min-height: 380px !important;
  }
  .center_line_two::after {
    content: "";
    position: absolute;
    max-width: 2px !important;
    width: 100%;
    height: 85% !important;
    top: 45px;
    left: 17px;
    z-index: -1;
    flex-shrink: 0;
    background: #c5c2c2;
  }
  .accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 24px !important;
  color: #3c278d !important;
  font-weight: 400px !important;
  font-size: var(--fs-md) !important;
  background-color: transparent !important;
  border: 0;
  border-radius: 0px;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}
}
@media (min-width: 768px) {
  .center_line::after {
    content: "";
    position: absolute !important;
    height: 980px !important;
    width: 2px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
      180deg,
      #3c278d 0%,
      rgba(60, 39, 141, 0.23) 100%
    ) !important;
  }

.center_line_two::after {
    content: "";
    position: absolute;
    max-width: 2px !important;
    width: 100%;
    height: 85% !important;
    top: 45px;
    left: 17px;
    z-index: -1;
    flex-shrink: 0;
    background: #c5c2c2;
  }
  .roadMapIamge_one {
    top: -53px;
    left: 80px;
    z-index: 1;
  }
  .roadMapIamge_two {
    bottom: -30px;
    left: 85px;
    display: none;
    z-index: 2;
  }
  .roadMapIamge_three {
    left: 88px;
    top: -55px;
    display: none;
    z-index: 1;
  }
  .roadMapIamge_four {
    left: 80px;
    top: 126px;
    z-index: 1;
  }
  .roadMapIamge_five {
    top: -55px;
    left: 85px;
    z-index: 1;
    display: none;
  }
  .roadMapIamge_six {
    top: 126px;
    left: 85px;
    z-index: 1;
  }
}
@media (min-width: 992px) {
 .min_vh_custom {
    min-height: 80vh;
  }
  .hero_custom_height {
  min-height: calc(100vh - 95px) !important;
}
  .min_h_hero_img {
    height: 566px !important;
  }
  .hero_Img_position {
    position: absolute;
    bottom: -268px;
    right: -100px !important;
    width: 123%;
  }
  .min_h_vedio {
    min-height: 700px !important;
  }
  .max_w_position_hero_img {
    max-width: 220px;
  }
  .center_line::after {
    content: "";
    position: absolute !important;
    height: 800px !important;
    width: 2px !important;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
      180deg,
      #3c278d 0%,
      rgba(60, 39, 141, 0.23) 100%
    ) !important;
  }
  .center_line_two::after {
    content: "";
    position: absolute;
    max-width: 790px !important;
    width: 100%;
    height: 1px !important;
    top: 47%;
    left: 110px;
    flex-shrink: 0;
    background: #c5c2c2;
  }
  .roadMapIamge_one {
    top: -53px;
    left: 80px;
    z-index: 1;
  }
  .roadMapIamge_two {
    bottom: -30px;
    left: 85px;
    z-index: 2;
    display: inline-block;
  }
  .roadMapIamge_three {
    left: 88px;
    top: -55px;
    z-index: 1;
    display: inline-block;
  }
  .roadMapIamge_four {
    left: 80px;
    top: 126px;
    z-index: 1;
  }
  .roadMapIamge_five {
    top: -55px;
    left: 85px;
    z-index: 1;
    display: inline-block;
  }
  .roadMapIamge_six {
    top: 126px;
    left: 85px;
    z-index: 1;
  }
}
@media (min-width: 1200px) {
   .min_vh_custom {
    min-height: 100vh;
  }
  .max_w_position_hero_img {
    max-width: 350px;
  }
  .center_line::after {
    content: "";
    position: absolute !important;
    height: 715px !important;
    width: 2px !important;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
      180deg,
      #3c278d 0%,
      rgba(60, 39, 141, 0.23) 100%
    ) !important;
  }
  .hero_Img_position {
    position: absolute;
    bottom: -340px;
    right: -274px !important;
    width: 860px !important;
  }
  .min_h_vedio {
    min-height: 680px !important;
  }
  /*=========================== NUMBER ALL IMAGES SETUP ================== */
  .numberOne_img_Setup {
    left: 34.9%;
    top: 25px;
  }
  .numberTwo_img_setup {
    left: 48.9%;
    top: 29%;
  }
  .numberThree_img_setup {
    top: 55%;
    left: 34.9%;
  }
  .numberfour_img_setup {
    bottom: 101px;
    left: 48.9%;
  }
  .center_line_two::after {
    content: "";
    position: absolute;
    max-width: 904px !important;
    width: 100%;
    height: 1px !important;
    top: 47%;
    left: 110px;
    flex-shrink: 0;
    background: #c5c2c2;
}
}
@media (min-width: 1400px) {
    .max_w_position_hero_img {
      max-width: 100%;
    }
    .center_line_two::after {
    content: "";
    position: absolute;
    max-width: 1076px !important;
    width: 100%;
    height: 1px !important;
    top: 47%;
    left: 110px;
    flex-shrink: 0;
    background: #c5c2c2;
}
  }
/* =====================HERO CENTER======================== */
.hero_center {
  background-image: url("../src/assetsFolder/images/png/hero_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.placeholder_input {
  max-width: 500px;
  border-radius: 49px;
  border: 1px solid rgba(233, 233, 233, 0.5);
  background: rgba(0, 0, 0, 0.1);
  outline: none;
}
.do_it_btn {
  max-width: 140px !important;
}
.hero_custom_height {
  min-height: calc(75vh - 95px);
}
.accordion-item {
  border: 2px solid #3c278d !important;
  border: #3c278d;
}

.accordion-item:last-of-type {
  border-radius: 10px !important;
}
.accordion-button:focus {
  z-index: 3;
  font-weight: 600px !important;
  border-color: transparent !important;
  outline: none !important;
  box-shadow: transparent !important;
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: transparent !important;
  box-shadow: transparent !important;
  font-weight: 600px !important;
}
.accordion-item {
  color: var(--bs-accordion-color);
  background-color: transparent !important;
  border: transparent !important;
  border: 1px solid #3c278d !important;
  border-radius: 10px !important;
}
button:focus {
  outline: none !important;
  border: 0 !important;
  box-shadow: 0 0 0 !important;
  font-weight: 600px !important;
}
.accordion-button::after {
  margin-left: auto;
  content: "";
  background-image: url("../src/assetsFolder/images/svg/Arrow\ -\ Down\ Circle.svg") !important;
  background-repeat: no-repeat;
}
.border_top {
  background: rgba(0, 0, 0, 0.4);
  width: 786px !important;
  height: 1px !important;
}
.footer_input_clr {
  max-width: 290px !important;
  border-radius: 12px !important;
  background: rgba(60, 39, 141, 0.11) !important;
}
.Search_btn {
  border-radius: 12px;
  border: 1px solid rgba(60, 39, 141, 0.52);
  background: #3c278d;
}
.footer_input {
  outline: none !important;
}
.footer_bordeer_top {
  border-top: 1px solid #3c278d;
}
/*===============COLORS===============*/
.bg_logo {
  background-color: #c5c2c2 !important;
}
.hover_sclae {
  transition: all 200ms linear;
}
.hover_sclae:hover {
  transform: scale(1.11) !important;
  transition: all 200ms linear;
}
div ul li a {
  color: #4d4d4d !important;
  transition: all 200ms linear !important;
}
div ul li a:hover {
  color: #000 !important;
  transition: all 200ms linear !important;
}
/* ==================ROAD MAP====================== */
.RoadMap_par {
  max-width: 431px;
}
.roadMap_main_box {
  max-width: 216px;
}
.roadMap_heading_box {
  border-radius: 12px 12px 0px 0px;
  padding: 10px 0;
  border: 1px solid #0000;
  transition: all 300ms ease-in-out;
}
.roadMap_pra_box {
  padding: 10px 0px !important;
  border-radius: 0px 0px 12px 12px;
  border: 1px solid #0000;
  transition: all 300ms ease-in-out;
}
.roadMap_main_box:hover .roadMap_pra_box {
  border: 1px solid rgba(60, 39, 141, 0.22);
  background: rgba(30, 30, 30, 0.07);
}
.roadMap_main_box:hover .roadMap_heading_box {
  color: #fff;
  background: rgba(60, 39, 141, 0.76);
  border: 1px solid rgba(60, 39, 141, 0.22);
}
.max_width_roadMapTwo_par{
  max-width: 994px;
}
@media (max-width: 767.98px) {
  .max_width_hero_img {
    max-width: 500px !important;
  }
  .hero_Img_position {
    max-width: 450px !important;
  }
}





